* {
	box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
	background-color: black;
}

#app {
	display: grid;
	width: 100%;
	grid-auto-columns: 1fr;
	grid-auto-flow: column;
	grid-template-rows: 1fr;
}